.downloadcontainer {
  background: rgb(238, 9, 229);
  background: linear-gradient(
    90deg,
    rgba(238, 9, 229, 1) 0%,
    rgba(139, 9, 238, 1) 48%,
    rgba(6, 181, 242, 0.9332107843137255) 92%
  );
  padding-top: 0;
  width: 100vw;
  height: 150%; /* Höhe anpassen, falls erforderlich */
  top: 0;
}
.downloads {
  position: absolute;
  top: 30vh;
  left: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

.downloadimg {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.downloads a {
  margin-right: 10vw;
}

.goalscontainer {
  margin-top: 20px; /* Füge hier den gewünschten Abstand ein */
}

.goalsfooter {
  /* margin-left: 50%; */
  /* transform: translateX(-50%); */
  width: 100%;
  /* height: 15vh; */
  background-color: #31d2ee87;
  border: 5px solid #e107f0;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-family: "Rowdies", Arial, sans-serif;
  color: white;
}

.bus {
  color: white;
  /* position: absolute;
  bottom: 25%;
  left: 30%; */
}

@media screen and (max-width: 480px) {
  .downloadcontainer {
    background: rgb(238, 9, 229);
    background: linear-gradient(
      90deg,
      rgba(238, 9, 229, 1) 0%,
      rgba(139, 9, 238, 1) 48%,
      rgba(6, 181, 242, 0.9332107843137255) 92%
    );
    padding-top: 0;
    /* position: absolute; */
    width: 100vw;
    /* height: 200vh; Höhe anpassen, falls erforderlich */
    top: -320px;
  }
  .downloads {
    position: absolute;
    top: 30vh;
    left: -120px;
    display: flex;
    flex-direction: column; /* Änderung: von row auf column */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    scale: 0.5;
  }

  .downloads a {
    margin-bottom: 10px; /* Hinzufügen eines Abstands zwischen den Karten */
  }

  .goalscontainer {
    margin-top: 20px; /* Füge hier den gewünschten Abstand ein */
  }

  .goalsfooter {
    /* position: absolute; */
    /* bottom: 20vh; */
    /* left: 50vw; */
    /* bottom: 0; */
    /* transform: translateX(-50%); */
    width: 100%; /* Änderung: von 50% auf 80% */
    /* height: 92vh; */
    background-color: #31d2ee87;
    border: 5px solid #e107f0;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: "Rowdies", Arial, sans-serif;
    color: white;
  }
  .bus {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .goalsfooter {
    padding: 50px;
  }
}
