@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Jolly+Lodger&family=Rowdies&family=Rubik+Dirt&display=swap');

.navbar {
  /* background: linear-gradient(1770deg, rgb(0, 0, 0) 10%, rgb(18, 20, 38) 50%, rgb(0, 0, 0) 10%); */

  background-image: url('../../public/images/div4.png');
  background-position: center;
  background-size: 100%;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 15px;
  z-index: 999;
}
.navbar.active {
  /* CSS styles for the Navbar when scrolled */
  visibility: hidden;
  position: fixed;
  top: 0;
  background-color: #0000001e; /* Customize the background color as desired */
  transition: background-color 0.3s ease;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80vw;
  z-index: -1;
}

.navbar-logo {
  color: rgb(255, 255, 255);
  justify-self: start;
  margin-left: 40px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 0px;
}

.nav-item {
  position: relative;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 1rem;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-family: 'Rowdies', cursive, Arial, sans-serif;
  font-size: 30px;
  width: 150px;
  /* border: 1px solid #fff; */
}

.nav-links:hover {
  border-bottom: 4px solid rgba(6, 181, 242, 0.9332107843137255);
  transition: all 0.2s ease-out;
  color: rgba(238, 9, 229, 1);
  /* color: rgba(139, 9, 238, 1); */
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
.nav-item ul {
  position: absolute;
  top: calc(100% -50px); /* Anpassung um 50 Pixel nach oben */
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #31d1ee;
  border-radius: 4px;
  padding: 0px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.nav-item ul li {
  width: 100%;
  list-style: none;
}

.nav-item ul li a {
  display: block;
  padding: 10px;
  color: #4d07b0;
  text-decoration: none;
}

.nav-item ul li a:hover {
  background-color: #eb05dc;
}

.nav-item:hover ul {
  display: flex;
}
.github-logo {
  transition: color 0.3s ease;
}

.nav-item:hover .github-logo {
  color: #eb05dc;
}
.github-logo:hover {
  background-color: #0aeb2cd5;
  filter: invert(1) grayscale(0%) brightness(200%);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #0ed0f2;
  border-radius: 4px;
  padding: 8px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 150px;
}

.nav-item:hover .dropdown-menu {
  display: flex;
}
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: realative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease-in;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    margin-left: 1rem;
    display: flex;
  }
  .logo1 {
    height: 10 px;
  }
  .logo2 {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    /* background: linear-gradient(1770deg, rgb(0, 0, 0) 10%, rgb(18, 20, 38) 50%, rgb(0, 0, 0) 10%); */
    background-color: rgba(59, 59, 59, 0);
    background-image: url('../../public/images/div4.png');
    background-position: left center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 79px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed !important;
    top: 15px;
    margin-top: 15px;
    z-index: 999;
  }
  .NavbarItems {
    position: realative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    left: -2000%;
    height: 100vh;
    position: absolute;
    top: 80px;
    width: 100%;
    opacity: 1;
    transition: all 0.8s ease-out;
    overflow: hidden; /* Hide horizontal scrollbar */
  }

  .nav-menu.active {
    background: #000000;
    position: absolute;
    top: -80%;
    padding-top: 50%;
    left: -12%;
    height: 110vh;
    width: 110vw;
    align-items: center;
    justify-content: right;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: -1;
    overflow: hidden; /* Hide horizontal scrollbar */
  }
  .nav-item {
    height: 100px;
    width: 150px;
  }

  .nav-links {
    text-align: center;
    margin-top: 0rem;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0rem;
    /* border: 1px solid #fff; */
    z-index: 9999;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    margin-left: 1rem;
    display: flex;
  }
  .logo1 {
    height: 10 px;
  }
  .logo2 {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: -6%;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
  }

  h1 {
    display: none;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.6s ease-out;
  }

  .nav-links-mobile:hover {
    background: #000000a2;
    color: #242424;
    transition: 250ms;
  }
}
